body {
    background: linear-gradient(to bottom, lightsteelblue 20%, gainsboro 80%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner {
    margin: 0px auto;
    padding: 1%;
    width: 80%;
    text-align: center;
}

#banner img {
    border-radius: 20px;
}

.main-nav {
    padding-bottom: 30px;
}

ul.nav {
    width:80%;
    margin: 0 auto;
    list-style:none;
    text-align:center; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50%;
}

.canvas {
    border-radius: 20px;
}

.table th {
    text-transform: uppercase;
    font-weight: bold;
}



footer {
    background-color: lightslategrey;
    color: lightgray;
    text-decoration: none;
}

.footer-bottom {
    background-color: slategray;
    color: lightgrey;
}

.social {
    position: relative;
    left: 25%;
}

.logo {
    position: relative;
    left: 10%;
}

.copyright {
    text-align: left;
}

.design {
    text-align: right;
}

#address {
    margin: 20px;
}

#about {
    margin: 10px;
}

#map {
    position: relative;
    left: 30px;
    margin-bottom: 20px;
}

#custom_form {
    padding: 10px;
}

#submit {
    position: relative;
    left: 40%;
}

#select {
    position: relative;
    left: 15px;
    padding: 8px;
}

#radio {
    position: relative;
    left: 15px;
}