body {
    background: linear-gradient(to bottom, lightsteelblue 20%, gainsboro 80%);
}

#banner {
    margin: 0px auto;
    padding: 1%;
    width: 80%;
    text-align: center;
}

#banner img {
    border-radius: 20px;
}

.main-nav {
    padding-bottom: 30px;
}

ul.nav {
    width:80%;
    margin: 0 auto;
    list-style:none;
    text-align:center; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50%;
}

.canvas {
    border-radius: 20px;
}

footer {
    background-color: lightslategrey;
}

.footer-bottom {
    background-color: lightsteelblue;
}