.rich + .tooltip > .tooltip-inner {
  background: darkslategray;
  border-radius: 10%;
  color: lightgrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.rich + .tooltip > .tooltip-arrow {
  border-bottom-color: darkslategray;
}